In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import timedelta

In [2]:
DATASET_PATH = 'data/'
AUTH_FILTERED_PATH = 'data/authority_filtered/'
SPIKES_PATH = 'data/spikes/'

In [3]:
AUTH_FILTERED_DATASET = pd.read_csv(AUTH_FILTERED_PATH + 'ferrero_corp_auth.csv')
SPIKES_DATASET = pd.read_csv(SPIKES_PATH + 'ferrero_corp_spikes.csv')
AUTH_SPIKES_DATASET = pd.read_csv(SPIKES_PATH + 'ferrero_corp_auth_spikes.csv')

START_DATE = '2019-12-1'
END_DATE = '2019-12-7'
DATES_DELTA = 7

In [4]:
auth_filtered_df = AUTH_FILTERED_DATASET.copy()
auth_filtered_df['date_index'] = pd.to_datetime(auth_filtered_df['date_index'])
auth_filtered_df

,Unnamed: 0,social,id,topic_id,rule_id,is_comment,text,links,mentions,hashtags,...,place_location_lat,place_location_lon,place_lat,place_lon,user_place_country_code,score_spam,score_performance,user_score_rank,score_rating,date_index
0,34648,twitter,1174618145786650624,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,La Ferrero riconosce a 6000 dipendenti un prem...,https://t.co/T3wBQLWAeo,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-19 09:36:03+00:00
1,34065,twitter,1176441842096910336,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Il Ministro Fioramonti si permette di giustifi...,NaN,@lofioramonti,NaN,...,41.898417,12.545146,41.898417,12.545146,NaN,NaN,NaN,NaN,NaN,2019-09-24 10:22:47+00:00
2,33847,twitter,1176748033066844160,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,@theoddmother @lofioramonti In Italia la Ferre...,NaN,"@theoddmother, @lofioramonti",NaN,...,41.898417,12.545146,41.898417,12.545146,NaN,NaN,NaN,NaN,NaN,2019-09-25 06:39:28+00:00
3,32534,twitter,1183821988437135362,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,@gianni_la_marca @angelofilippi Per il mercato...,NaN,"@gianni_la_marca, @angelofilippi",NaN,...,41.898417,12.545146,41.898417,12.545146,NaN,NaN,NaN,NaN,NaN,2019-10-14 19:08:51+00:00
4,32064,twitter,1186949229438263297,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Siamo in un pericoloso paradosso con il Paese ...,https://t.co/lkkYO9w8VC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-10-23 10:15:23+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,1013,twitter,1418810115445166080,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,"Ferrero, la strategia green del big di Alba (è...","https://t.co/r2XvO05KdN, https://t.co/t8k8vmUlQk",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-24 05:47:46+00:00
279,841,twitter,1420717382830415880,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Ferrero l'azienda meglio percepita sul territo...,"https://t.co/4O4c31bPiq, https://t.co/n8RpxZP5Vu",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-29 12:06:34+00:00
280,822,twitter,1421105542945202182,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,"L’attimo fuggente, online il numero di agosto ...",https://t.co/Q9FPElZrOU,"@ferrero_eu, @generali, @prada, @armani, @ciro...","#luigicremonini, #vincenzocremonini, #alberton...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-30 13:48:58+00:00
281,467,twitter,1426075939201421313,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,"Mediobanca, Gavio arrotonda la quota. I Ferrer...","https://t.co/QPX7deAYBt, https://t.co/XUfJMFKsFE",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-13 06:59:33+00:00
282,61,twitter,1430765728890859524,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Da anni le aziende alimentari prendono impegni...,"https://t.co/79pL8eW8Dm, https://t.co/3MC4xgol6A",@foodwatch_de,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-26 05:35:06+00:00

In [5]:
spikes_df = SPIKES_DATASET.copy()
spikes_df.set_index('date_index', inplace=True)
spikes_df

               mIndex  volume  sentiment   sign
date_index
2019-08-20   2.602240      96   0.373657  False
2019-08-21  13.554951     378   0.373657  False
2019-08-22   5.825910     179   0.373657  False
2019-08-23   2.485722      93   0.373657  False
2019-08-24   1.006199      71   0.373657  False
...               ...     ...        ...    ...
2021-08-19   0.774941      36   0.524922   True
2021-08-20   0.858849      38   0.493919  False
2021-08-23   2.040529      67   0.468272  False
2021-08-24   1.287879      49   0.360722  False
2021-08-25   0.679956      41   0.437569  False

[165 rows x 4 columns]

In [6]:
auth_spikes_df = AUTH_SPIKES_DATASET.copy()
auth_spikes_df.set_index('date_index', inplace=True)
auth_spikes_df

              mIndex  volume  sentiment   sign
date_index
2019-10-17  1.100317       1   0.600317   True
2019-10-23  1.411402       1   0.088598  False
2019-10-24  5.524376       3   0.395125  False
2019-10-25  1.182024       2   0.317976  False
2019-10-30  1.289454       1   0.789454   True
2019-10-31  3.668820       2   0.277060  False
2019-11-08  2.393225       3   0.696613   True
2019-12-01  3.318031       2   0.393990  False
2019-12-06  5.530052       6   0.393990  False
2019-12-10  2.212021       3   0.393990  False
2019-12-13  1.106010       2   0.393990  False
2019-12-24  1.036259       2   0.463741  False
2020-02-08  1.496028       1   0.003972  False
2020-02-10  1.017680       1   0.482320  False
2020-02-13  1.463476       1   0.963476   True
2020-02-18  1.106010       2   0.393990  False
2020-02-19  3.318031       4   0.393990  False
2020-02-21  1.106010       1   0.393990  False
2020-05-09  1.380941       1   0.880941   True
2020-05-14  1.447140       1   0.052860  False
2020-10-08  3.318031       2   0.393990  False
2021-03-27  1.106010       1   0.393990  False
2021-04-16  1.106010       1   0.393990  False
2021-04-19  1.106010       2   0.393990  False
2021-06-04  1.475816       1   0.024184  False

In [7]:
def get_relevance_idxs(df, thresh):
    return df[df['mIndex'] > thresh][['mIndex', 'sign']]


def filter_by_relevance_idxs(df, col='mIndex', thresh=0.5):
    return df[df[col] > thresh]


def get_date_range(date, d_range):
    date_list = []
    date_list.append(date)
    for day in range(1, d_range+1):
        b_date = (date - datetime.timedelta(days = day))
        a_date = (date + datetime.timedelta(days = day))
        date_list.append(b_date)
        date_list.append(a_date)
        date_list.sort()
    return date_list


def filter_by_previous_dates(df, date, date_range, col=None, include_date=False):
    df = df.copy()
    formatted_date = pd.to_datetime(date, format='%Y/%m/%d', errors='coerce')
    # formatted_date = (formatted_date - pd.to_timedelta(1, unit='days'))            # Needed to compare days by String
    mindate = (formatted_date - pd.to_timedelta(date_range, unit='days')).date()    
    if include_date is True:                                                         # Includes the signature date into the range
        # mindate += timedelta(days=1)
        formatted_date += timedelta(days=1)
    if (col is None):
        df = df.reset_index()
        lowerbound = df[df.iloc[:, -1] >= mindate]
        lowerbound = lowerbound[lowerbound.iloc[:, -1] < formatted_date]
        lowerbound = lowerbound.set_index(lowerbound.iloc[:, -1]).drop(lowerbound.columns[-1], axis=1)
        return lowerbound
    else:
        lowerbound = df[df[col] >= mindate]  
        return lowerbound[lowerbound[col] < formatted_date]


def filter_by_following_dates(df, date, date_range, col=None, include_date=False):
    df = df.copy()
    formatted_date = pd.to_datetime(date, format='%Y/%m/%d', errors='coerce')
    maxdate = (formatted_date + pd.to_timedelta(date_range, unit='days')).date()
    if include_date is True:                                                         # Includes the signature date into the range
        # maxdate -= timedelta(days=1)  
        formatted_date -= timedelta(days=1)  
    if (col is None):
        df = df.reset_index()
        lowerbound = df[df.iloc[:, -1] > formatted_date]
        lowerbound = lowerbound[lowerbound.iloc[:, -1] <= maxdate]
        lowerbound = lowerbound.set_index(lowerbound.iloc[:, -1]).drop(lowerbound.columns[-1], axis=1)
        return lowerbound
    else:
        lowerbound = df[df[col] > formatted_date]  
        return lowerbound[lowerbound[col] <= maxdate]


def get_previous_dates(date, date_range):
    date_list = []
    date_list.append(date)
    for day in range(1, date_range+1):
        b_date = (date - datetime.timedelta(days = day))
        date_list.append(b_date)
        date_list.sort()
    return date_list


def filter_by_date_range(dataset, mindate, maxdate, col=None):
    formatted_mindate = pd.to_datetime(mindate, format='%Y/%m/%d', errors='coerce').date()
    formatted_maxdate = pd.to_datetime(maxdate, format='%Y/%m/%d', errors='coerce').date()
    if (col is None):
        lowerbound = dataset[dataset.index > formatted_mindate]    
        return lowerbound[lowerbound.index <= formatted_maxdate]
    else:
        lowerbound = dataset[dataset[col] > formatted_mindate]    
        return lowerbound[lowerbound[col] <= formatted_maxdate]


def convert_datetime_col_to_iso_format(df, col=None):
    df = df.copy()
    if (not col):
        df = df.reset_index()
        df['date_index'] = df['date_index'].apply(lambda x: pd.to_datetime(x, format='%Y/%m/%d', errors='coerce').date())
        df = df.set_index(keys=['date_index'])
        return df
    else:
        df['date_index'] = df['date_index'].apply(lambda x: pd.to_datetime(x, format='%Y/%m/%d', errors='coerce').date())
        return df

In [8]:
lista = {'date_index': ['2020-10-09','2020-10-10', '2020-10-11', '2020-10-12', '2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16', '2020-10-17' ,'2020-10-18']}
lista = pd.DataFrame(lista)
lista['date_index'] = lista['date_index'].apply(lambda x: pd.to_datetime(x, format='%Y/%m/%d', errors='coerce').date())
print(lista['date_index'].apply(lambda x: type(x)))
lista = lista.set_index('date_index')
# lista

0    <class 'datetime.date'>
1    <class 'datetime.date'>
2    <class 'datetime.date'>
3    <class 'datetime.date'>
4    <class 'datetime.date'>
5    <class 'datetime.date'>
6    <class 'datetime.date'>
7    <class 'datetime.date'>
8    <class 'datetime.date'>
9    <class 'datetime.date'>
Name: date_index, dtype: object

In [9]:
filter_by_previous_dates(lista, '2020-10-17', 7)

Empty DataFrame
Columns: []
Index: [2020-10-10, 2020-10-11, 2020-10-12, 2020-10-13, 2020-10-14, 2020-10-15, 2020-10-16]

In [10]:
auth_filtered_df = convert_datetime_col_to_iso_format(auth_filtered_df, 'date_index')

In [11]:
auth_filtered_df

,Unnamed: 0,social,id,topic_id,rule_id,is_comment,text,links,mentions,hashtags,...,place_location_lat,place_location_lon,place_lat,place_lon,user_place_country_code,score_spam,score_performance,user_score_rank,score_rating,date_index
0,34648,twitter,1174618145786650624,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,La Ferrero riconosce a 6000 dipendenti un prem...,https://t.co/T3wBQLWAeo,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-19
1,34065,twitter,1176441842096910336,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Il Ministro Fioramonti si permette di giustifi...,NaN,@lofioramonti,NaN,...,41.898417,12.545146,41.898417,12.545146,NaN,NaN,NaN,NaN,NaN,2019-09-24
2,33847,twitter,1176748033066844160,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,@theoddmother @lofioramonti In Italia la Ferre...,NaN,"@theoddmother, @lofioramonti",NaN,...,41.898417,12.545146,41.898417,12.545146,NaN,NaN,NaN,NaN,NaN,2019-09-25
3,32534,twitter,1183821988437135362,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,@gianni_la_marca @angelofilippi Per il mercato...,NaN,"@gianni_la_marca, @angelofilippi",NaN,...,41.898417,12.545146,41.898417,12.545146,NaN,NaN,NaN,NaN,NaN,2019-10-14
4,32064,twitter,1186949229438263297,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Siamo in un pericoloso paradosso con il Paese ...,https://t.co/lkkYO9w8VC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-10-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,1013,twitter,1418810115445166080,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,"Ferrero, la strategia green del big di Alba (è...","https://t.co/r2XvO05KdN, https://t.co/t8k8vmUlQk",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-24
279,841,twitter,1420717382830415880,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Ferrero l'azienda meglio percepita sul territo...,"https://t.co/4O4c31bPiq, https://t.co/n8RpxZP5Vu",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-29
280,822,twitter,1421105542945202182,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,"L’attimo fuggente, online il numero di agosto ...",https://t.co/Q9FPElZrOU,"@ferrero_eu, @generali, @prada, @armani, @ciro...","#luigicremonini, #vincenzocremonini, #alberton...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-30
281,467,twitter,1426075939201421313,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,"Mediobanca, Gavio arrotonda la quota. I Ferrer...","https://t.co/QPX7deAYBt, https://t.co/XUfJMFKsFE",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-13
282,61,twitter,1430765728890859524,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Da anni le aziende alimentari prendono impegni...,"https://t.co/79pL8eW8Dm, https://t.co/3MC4xgol6A",@foodwatch_de,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-26

In [12]:
spikes_df = convert_datetime_col_to_iso_format(spikes_df)

In [13]:
spikes_df

               mIndex  volume  sentiment   sign
date_index
2019-08-20   2.602240      96   0.373657  False
2019-08-21  13.554951     378   0.373657  False
2019-08-22   5.825910     179   0.373657  False
2019-08-23   2.485722      93   0.373657  False
2019-08-24   1.006199      71   0.373657  False
...               ...     ...        ...    ...
2021-08-19   0.774941      36   0.524922   True
2021-08-20   0.858849      38   0.493919  False
2021-08-23   2.040529      67   0.468272  False
2021-08-24   1.287879      49   0.360722  False
2021-08-25   0.679956      41   0.437569  False

[165 rows x 4 columns]

In [14]:
spikes_auth_df = spikes_df.merge(auth_filtered_df, on='date_index')
# spikes_auth_df = pd.concat(spikes_df, auth_filtered_df)

In [15]:
spikes_auth_df

,date_index,mIndex,volume,sentiment,sign,Unnamed: 0,social,id,topic_id,rule_id,...,place_country_code,place_location_lat,place_location_lon,place_lat,place_lon,user_place_country_code,score_spam,score_performance,user_score_rank,score_rating
0,2019-08-21,13.554951,378,0.373657,False,36721,twitter,1163965966323109889,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-08-22,5.825910,179,0.373657,False,36180,twitter,1164639655574196224,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-08-23,2.485722,93,0.373657,False,36097,twitter,1164947272284672001,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-18,4.131696,202,0.366064,False,34882,twitter,1174264995162599426,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-09-18,4.131696,202,0.366064,False,34844,twitter,1174293258714808321,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,2021-06-01,0.798738,80,0.553408,True,2989,twitter,1399674473960206336,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,2021-06-01,0.798738,80,0.553408,True,2967,twitter,1399707442536095744,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,2021-06-01,0.798738,80,0.553408,True,2959,twitter,1399733841699520517,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,2021-07-20,0.631011,32,0.295342,False,1115,twitter,1417393591022936065,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,2021-07-21,0.525460,31,0.396534,False,1070,twitter,1417876798998732810,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# id and username of authority tweets posted on a spike day
spike_auth_tweets = spikes_auth_df[['date_index', 'id', 'user_username']]
spike_auth_tweets

     date_index                   id    user_username
0    2019-08-21  1163965966323109889    MilanoFinanza
1    2019-08-22  1164639655574196224       repubblica
2    2019-08-23  1164947272284672001  fattoquotidiano
3    2019-09-18  1174264995162599426         Corriere
4    2019-09-18  1174293258714808321    MilanoFinanza
..          ...                  ...              ...
135  2021-06-01  1399674473960206336       repubblica
136  2021-06-01  1399707442536095744    Affaritaliani
137  2021-06-01  1399733841699520517    ItaliaaTavola
138  2021-07-20  1417393591022936065       ilgiornale
139  2021-07-21  1417876798998732810      LegaSalvini

[140 rows x 3 columns]

In [17]:
spike_auth_tweets.to_csv('data/authority_filtered/auth_tweets.csv')

In [18]:
filter_by_previous_dates(spike_auth_tweets, END_DATE, DATES_DELTA, 'date_index')

    date_index                   id    user_username
30  2019-11-30  1200773162155282444  stanzaselvaggia
31  2019-11-30  1200685934309728257   ilSalvagenteit
32  2019-12-05  1202583411128320000            ADUC1
33  2019-12-06  1202907937200627719  matteosalvinimi
34  2019-12-06  1203005958793973760    GuidoCrosetto
35  2019-12-06  1203010130884907009      NFratoianni
36  2019-12-06  1202870147297562629  stanzaselvaggia
37  2019-12-06  1202901039147618304     LucaBizzarri
38  2019-12-06  1202842418485305344   giornalettismo

In [19]:
# We need to explicitate each spike - tweet relashionship over the course of a chosen time delta. 
def get_all_spikes_content(df_spikes, 
                           df_spike_tweets, 
                           dates_delta=7,
                           include_date=False):
    spike_tweets_lst = []
    for i, row in df_spikes.iterrows():
        date = row['date_index']
        spike_tweets_df = filter_by_previous_dates(df_spike_tweets, 
                                                   date, 
                                                   dates_delta, 
                                                   'date_index',
                                                   include_date)
        spike_tweets_df['spike_id'] = row['index']
        spike_tweets_lst.append(spike_tweets_df)
    return pd.concat(spike_tweets_lst)

In [20]:
spikes_df

               mIndex  volume  sentiment   sign
date_index
2019-08-20   2.602240      96   0.373657  False
2019-08-21  13.554951     378   0.373657  False
2019-08-22   5.825910     179   0.373657  False
2019-08-23   2.485722      93   0.373657  False
2019-08-24   1.006199      71   0.373657  False
...               ...     ...        ...    ...
2021-08-19   0.774941      36   0.524922   True
2021-08-20   0.858849      38   0.493919  False
2021-08-23   2.040529      67   0.468272  False
2021-08-24   1.287879      49   0.360722  False
2021-08-25   0.679956      41   0.437569  False

[165 rows x 4 columns]

In [21]:
spikes_df_tmp = spikes_df.reset_index().reset_index()
spikes_df_tmp

     index  date_index     mIndex  volume  sentiment   sign
0        0  2019-08-20   2.602240      96   0.373657  False
1        1  2019-08-21  13.554951     378   0.373657  False
2        2  2019-08-22   5.825910     179   0.373657  False
3        3  2019-08-23   2.485722      93   0.373657  False
4        4  2019-08-24   1.006199      71   0.373657  False
..     ...         ...        ...     ...        ...    ...
160    160  2021-08-19   0.774941      36   0.524922   True
161    161  2021-08-20   0.858849      38   0.493919  False
162    162  2021-08-23   2.040529      67   0.468272  False
163    163  2021-08-24   1.287879      49   0.360722  False
164    164  2021-08-25   0.679956      41   0.437569  False

[165 rows x 6 columns]

In [22]:
# (index, gg_spike, id_tweet, auth_username
# (index, gg_spike, id_tweet, auth_username) join (gg_spike, mIndex, volume, ...)
# double resetting index so that each spike can be associated to an id (spike_id)
normalized_df = get_all_spikes_content(spikes_df_tmp, spike_auth_tweets)

# Dataframe index needs to be spike_id + tweet_id to accurately represent every event connected to each spike
normalized_df['spike_id'] = normalized_df['spike_id'].astype('int64')
normalized_df['id'] = normalized_df['id'].astype('int64')
normalized_df = normalized_df.set_index(['spike_id', 'id'], verify_integrity=True)
print(normalized_df.nunique())

date_index       63
user_username    33
dtype: int64

In [23]:
normalized_df

                              date_index  user_username
spike_id id
2        1163965966323109889  2019-08-21  MilanoFinanza
3        1163965966323109889  2019-08-21  MilanoFinanza
         1164639655574196224  2019-08-22     repubblica
4        1163965966323109889  2019-08-21  MilanoFinanza
         1164639655574196224  2019-08-22     repubblica
...                                  ...            ...
148      1399733841699520517  2021-06-01  ItaliaaTavola
155      1417393591022936065  2021-07-20     ilgiornale
156      1417393591022936065  2021-07-20     ilgiornale
         1417876798998732810  2021-07-21    LegaSalvini
157      1417876798998732810  2021-07-21    LegaSalvini

[305 rows x 2 columns]

In [24]:
normalized_df.to_csv('data/authority_filtered/normalized_df.csv')

In [25]:
normalized_date_included_df = get_all_spikes_content(spikes_df_tmp, spike_auth_tweets, include_date=True)

# Dataframe index needs to be spike_id + tweet_id to accurately represent every event connected to each spike
normalized_date_included_df = normalized_date_included_df.set_index(['spike_id', 'id'], verify_integrity=True)
print(normalized_date_included_df.nunique())

date_index       74
user_username    35
dtype: int64

In [26]:
normalized_date_included_df

                              date_index  user_username
spike_id id
1        1163965966323109889  2019-08-21  MilanoFinanza
2        1163965966323109889  2019-08-21  MilanoFinanza
         1164639655574196224  2019-08-22     repubblica
3        1163965966323109889  2019-08-21  MilanoFinanza
         1164639655574196224  2019-08-22     repubblica
...                                  ...            ...
155      1417393591022936065  2021-07-20     ilgiornale
         1417876798998732810  2021-07-21    LegaSalvini
156      1417393591022936065  2021-07-20     ilgiornale
         1417876798998732810  2021-07-21    LegaSalvini
157      1417876798998732810  2021-07-21    LegaSalvini

[445 rows x 2 columns]

In [27]:
normalized_date_included_df.to_csv('data/authority_filtered/normalized_date_included_df.csv')

In [28]:
print(type(normalized_df.reset_index()['id'][0]))

<class 'numpy.int64'>

In [29]:
merged_spikes_df = spikes_df_tmp.merge(normalized_df.reset_index().convert_dtypes(), left_on='index', right_on='spike_id', how='outer')
merged_spikes_date_included_df =  spikes_df_tmp.merge(normalized_date_included_df.reset_index().convert_dtypes(), left_on='index', right_on='spike_id', how='outer')

In [30]:
merged_spikes_df

,index,date_index_x,mIndex,volume,sentiment,sign,spike_id,id,date_index_y,user_username
0,0,2019-08-20,2.602240,96,0.373657,False,<NA>,<NA>,NaN,<NA>
1,1,2019-08-21,13.554951,378,0.373657,False,<NA>,<NA>,NaN,<NA>
2,2,2019-08-22,5.825910,179,0.373657,False,2,1163965966323109889,2019-08-21,MilanoFinanza
3,3,2019-08-23,2.485722,93,0.373657,False,3,1163965966323109889,2019-08-21,MilanoFinanza
4,3,2019-08-23,2.485722,93,0.373657,False,3,1164639655574196224,2019-08-22,repubblica
...,...,...,...,...,...,...,...,...,...,...
381,160,2021-08-19,0.774941,36,0.524922,True,<NA>,<NA>,NaN,<NA>
382,161,2021-08-20,0.858849,38,0.493919,False,<NA>,<NA>,NaN,<NA>
383,162,2021-08-23,2.040529,67,0.468272,False,<NA>,<NA>,NaN,<NA>
384,163,2021-08-24,1.287879,49,0.360722,False,<NA>,<NA>,NaN,<NA>
385,164,2021-08-25,0.679956,41,0.437569,False,<NA>,<NA>,NaN,<NA>

In [31]:
merged_spikes_date_included_df

,index,date_index_x,mIndex,volume,sentiment,sign,spike_id,id,date_index_y,user_username
0,0,2019-08-20,2.602240,96,0.373657,False,<NA>,<NA>,NaN,<NA>
1,1,2019-08-21,13.554951,378,0.373657,False,1,1163965966323109889,2019-08-21,MilanoFinanza
2,2,2019-08-22,5.825910,179,0.373657,False,2,1163965966323109889,2019-08-21,MilanoFinanza
3,2,2019-08-22,5.825910,179,0.373657,False,2,1164639655574196224,2019-08-22,repubblica
4,3,2019-08-23,2.485722,93,0.373657,False,3,1163965966323109889,2019-08-21,MilanoFinanza
...,...,...,...,...,...,...,...,...,...,...
491,160,2021-08-19,0.774941,36,0.524922,True,<NA>,<NA>,NaN,<NA>
492,161,2021-08-20,0.858849,38,0.493919,False,<NA>,<NA>,NaN,<NA>
493,162,2021-08-23,2.040529,67,0.468272,False,<NA>,<NA>,NaN,<NA>
494,163,2021-08-24,1.287879,49,0.360722,False,<NA>,<NA>,NaN,<NA>
495,164,2021-08-25,0.679956,41,0.437569,False,<NA>,<NA>,NaN,<NA>

In [32]:
merged_spikes_df['spike_window_date'] = merged_spikes_df['date_index_x']
merged_spikes_df['tweet_date'] = merged_spikes_df['date_index_y']
merged_spikes_df['tweet_id'] = merged_spikes_df['id']
merged_spikes_df['spike_id'] = merged_spikes_df['index']
merged_spikes_df = merged_spikes_df[['spike_window_date', 'spike_id', 'tweet_date', 'tweet_id', 'user_username', 'mIndex', 'volume', 'sentiment']]
merged_spikes_df.convert_dtypes().set_index(['spike_window_date', 'tweet_id'], inplace=True)

merged_spikes_date_included_df['spike_window_date'] = merged_spikes_date_included_df['date_index_x']
merged_spikes_date_included_df['tweet_date'] = merged_spikes_date_included_df['date_index_y']
merged_spikes_date_included_df['tweet_id'] = merged_spikes_date_included_df['id']
merged_spikes_date_included_df['spike_id'] = merged_spikes_date_included_df['index']
merged_spikes_date_included_df = merged_spikes_date_included_df[['spike_window_date', 'spike_id', 'tweet_date', 'tweet_id', 'user_username', 'mIndex', 'volume', 'sentiment']]
merged_spikes_date_included_df.convert_dtypes().set_index(['spike_window_date', 'tweet_id'], inplace=True)

In [33]:
merged_spikes_df

,spike_window_date,spike_id,tweet_date,tweet_id,user_username,mIndex,volume,sentiment
0,2019-08-20,0,NaN,<NA>,<NA>,2.602240,96,0.373657
1,2019-08-21,1,NaN,<NA>,<NA>,13.554951,378,0.373657
2,2019-08-22,2,2019-08-21,1163965966323109889,MilanoFinanza,5.825910,179,0.373657
3,2019-08-23,3,2019-08-21,1163965966323109889,MilanoFinanza,2.485722,93,0.373657
4,2019-08-23,3,2019-08-22,1164639655574196224,repubblica,2.485722,93,0.373657
...,...,...,...,...,...,...,...,...
381,2021-08-19,160,NaN,<NA>,<NA>,0.774941,36,0.524922
382,2021-08-20,161,NaN,<NA>,<NA>,0.858849,38,0.493919
383,2021-08-23,162,NaN,<NA>,<NA>,2.040529,67,0.468272
384,2021-08-24,163,NaN,<NA>,<NA>,1.287879,49,0.360722
385,2021-08-25,164,NaN,<NA>,<NA>,0.679956,41,0.437569

In [34]:
merged_spikes_date_included_df

,spike_window_date,spike_id,tweet_date,tweet_id,user_username,mIndex,volume,sentiment
0,2019-08-20,0,NaN,<NA>,<NA>,2.602240,96,0.373657
1,2019-08-21,1,2019-08-21,1163965966323109889,MilanoFinanza,13.554951,378,0.373657
2,2019-08-22,2,2019-08-21,1163965966323109889,MilanoFinanza,5.825910,179,0.373657
3,2019-08-22,2,2019-08-22,1164639655574196224,repubblica,5.825910,179,0.373657
4,2019-08-23,3,2019-08-21,1163965966323109889,MilanoFinanza,2.485722,93,0.373657
...,...,...,...,...,...,...,...,...
491,2021-08-19,160,NaN,<NA>,<NA>,0.774941,36,0.524922
492,2021-08-20,161,NaN,<NA>,<NA>,0.858849,38,0.493919
493,2021-08-23,162,NaN,<NA>,<NA>,2.040529,67,0.468272
494,2021-08-24,163,NaN,<NA>,<NA>,1.287879,49,0.360722
495,2021-08-25,164,NaN,<NA>,<NA>,0.679956,41,0.437569

In [35]:
def get_formatted_date(date):
    return pd.to_datetime(date, format='%Y/%m/%d', errors='coerce').date()

def collapse_consecutive_spike_days(df):
    output = df.copy()
    collapsed_spikes = 0
    formatted_date = get_formatted_date(df['spike_window_date'].iloc[0])
    prev_date = formatted_date
    spike_starting_date = formatted_date
    spike_ending_date = formatted_date
    output['spike_starting_date'] = spike_starting_date
    output['spike_ending_date'] = spike_ending_date
    last_spike_start_row_idx = -1
    prev_spike = df['spike_id'].iloc[0]
    
    for i, row in df.iterrows():
        formatted_date = get_formatted_date(row['spike_window_date'])
        curr_prev_date = formatted_date - pd.to_timedelta(1, unit='days')
        if(curr_prev_date == prev_date):
            collapsed_spikes += 1
        elif(formatted_date != prev_date):
            spike_starting_date = formatted_date
        
        prev_date = formatted_date
        curr_spike = row['spike_id'] - collapsed_spikes
        # prev_spike = prev_spike - collapsed_spikes
        output['spike_id'].iloc[i] = curr_spike
        output['spike_starting_date'].iloc[i] = spike_starting_date
        output['spike_ending_date'].iloc[i] = formatted_date
        try:
            formatted_ending_date = get_formatted_date(df['spike_window_date'].iloc[i+1])       # execute the next block only if there is a succeeding tuple
            if (formatted_ending_date > (formatted_date + pd.to_timedelta(1, unit='days'))):    # if the next date has a timedelta superior to 1 from the examined one, it means that it belongs to another spike
                if (curr_spike==prev_spike):                                                    # update the ending date only if the spike isn't changed
                    for j in range(last_spike_start_row_idx, i):
                        output['spike_ending_date'].iloc[j] = formatted_date                    
                last_spike_start_row_idx = i+1     
        except:
            print('There are not next lines in the DataFrame')
        else:
            last_row_idx = i
        prev_spike = curr_spike

        if (curr_spike==prev_spike):
            for k in range(last_spike_start_row_idx, last_row_idx + 1):
                output['spike_ending_date'].iloc[k] = formatted_date
    return output

In [36]:
merged_spikes_df.to_csv('data/authority_filtered/merged_spikes_df.csv')
merged_spikes_date_included_df.to_csv('data/authority_filtered/merged_spikes_date_included_df.csv')

In [37]:
collapsed_merged_spikes_df = merged_spikes_df.reset_index()
collapsed_merged_spikes_df = collapse_consecutive_spike_days(collapsed_merged_spikes_df)
collapsed_merged_spikes_df.dropna(inplace=True)
collapsed_merged_spikes_df

C:\Users\alxau\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

There are not next lines in the DataFrame

,index,spike_window_date,spike_id,tweet_date,tweet_id,user_username,mIndex,volume,sentiment,spike_starting_date,spike_ending_date
2,2,2019-08-22,0,2019-08-21,1163965966323109889,MilanoFinanza,5.825910,179,0.373657,2019-08-20,2019-08-25
3,3,2019-08-23,0,2019-08-21,1163965966323109889,MilanoFinanza,2.485722,93,0.373657,2019-08-20,2019-08-25
4,4,2019-08-23,0,2019-08-22,1164639655574196224,repubblica,2.485722,93,0.373657,2019-08-20,2019-08-25
5,5,2019-08-24,0,2019-08-21,1163965966323109889,MilanoFinanza,1.006199,71,0.373657,2019-08-20,2019-08-25
6,6,2019-08-24,0,2019-08-22,1164639655574196224,repubblica,1.006199,71,0.373657,2019-08-20,2019-08-25
...,...,...,...,...,...,...,...,...,...,...,...
368,368,2021-06-07,77,2021-06-01,1399733841699520517,ItaliaaTavola,0.829249,69,0.453243,2021-06-07,2021-06-07
375,375,2021-07-21,82,2021-07-20,1417393591022936065,ilgiornale,0.525460,31,0.396534,2021-07-20,2021-07-21
376,376,2021-07-26,83,2021-07-20,1417393591022936065,ilgiornale,2.897790,77,0.516768,2021-07-26,2021-07-26
377,377,2021-07-26,83,2021-07-21,1417876798998732810,LegaSalvini,2.897790,77,0.516768,2021-07-26,2021-07-26
378,378,2021-07-28,84,2021-07-21,1417876798998732810,LegaSalvini,0.539660,31,0.446378,2021-07-28,2021-07-28

In [38]:
collapsed_merged_spikes_date_included_df = merged_spikes_date_included_df.reset_index()
collapsed_merged_spikes_date_included_df = collapse_consecutive_spike_days(collapsed_merged_spikes_date_included_df)
collapsed_merged_spikes_date_included_df.dropna(inplace=True)
collapsed_merged_spikes_date_included_df

C:\Users\alxau\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

There are not next lines in the DataFrame

,index,spike_window_date,spike_id,tweet_date,tweet_id,user_username,mIndex,volume,sentiment,spike_starting_date,spike_ending_date
1,1,2019-08-21,0,2019-08-21,1163965966323109889,MilanoFinanza,13.554951,378,0.373657,2019-08-20,2019-08-25
2,2,2019-08-22,0,2019-08-21,1163965966323109889,MilanoFinanza,5.825910,179,0.373657,2019-08-20,2019-08-25
3,3,2019-08-22,0,2019-08-22,1164639655574196224,repubblica,5.825910,179,0.373657,2019-08-20,2019-08-25
4,4,2019-08-23,0,2019-08-21,1163965966323109889,MilanoFinanza,2.485722,93,0.373657,2019-08-20,2019-08-25
5,5,2019-08-23,0,2019-08-22,1164639655574196224,repubblica,2.485722,93,0.373657,2019-08-20,2019-08-25
...,...,...,...,...,...,...,...,...,...,...,...
484,484,2021-07-21,82,2021-07-20,1417393591022936065,ilgiornale,0.525460,31,0.396534,2021-07-20,2021-07-21
485,485,2021-07-21,82,2021-07-21,1417876798998732810,LegaSalvini,0.525460,31,0.396534,2021-07-20,2021-07-21
486,486,2021-07-26,83,2021-07-20,1417393591022936065,ilgiornale,2.897790,77,0.516768,2021-07-26,2021-07-26
487,487,2021-07-26,83,2021-07-21,1417876798998732810,LegaSalvini,2.897790,77,0.516768,2021-07-26,2021-07-26
488,488,2021-07-28,84,2021-07-21,1417876798998732810,LegaSalvini,0.539660,31,0.446378,2021-07-28,2021-07-28

In [39]:
# Should tweets be counted multiple times if they are present in the date_delta of multiple days on the same spike? (ATM I'm leaving duplicates on this dataset)
collapsed_merged_spikes_df.set_index(['spike_id', 'tweet_id', 'spike_window_date'], inplace=True, verify_integrity=True)
collapsed_merged_spikes_df

                                                index  tweet_date  \
spike_id tweet_id            spike_window_date
0        1163965966323109889 2019-08-22             2  2019-08-21
                             2019-08-23             3  2019-08-21
         1164639655574196224 2019-08-23             4  2019-08-22
         1163965966323109889 2019-08-24             5  2019-08-21
         1164639655574196224 2019-08-24             6  2019-08-22
...                                               ...         ...
77       1399733841699520517 2021-06-07           368  2021-06-01
82       1417393591022936065 2021-07-21           375  2021-07-20
83       1417393591022936065 2021-07-26           376  2021-07-20
         1417876798998732810 2021-07-26           377  2021-07-21
84       1417876798998732810 2021-07-28           378  2021-07-21

                                                user_username    mIndex  \
spike_id tweet_id            spike_window_date
0        1163965966323109889 2019-08-22         MilanoFinanza  5.825910
                             2019-08-23         MilanoFinanza  2.485722
         1164639655574196224 2019-08-23            repubblica  2.485722
         1163965966323109889 2019-08-24         MilanoFinanza  1.006199
         1164639655574196224 2019-08-24            repubblica  1.006199
...                                                       ...       ...
77       1399733841699520517 2021-06-07         ItaliaaTavola  0.829249
82       1417393591022936065 2021-07-21            ilgiornale  0.525460
83       1417393591022936065 2021-07-26            ilgiornale  2.897790
         1417876798998732810 2021-07-26           LegaSalvini  2.897790
84       1417876798998732810 2021-07-28           LegaSalvini  0.539660

                                                volume  sentiment  \
spike_id tweet_id            spike_window_date
0        1163965966323109889 2019-08-22            179   0.373657
                             2019-08-23             93   0.373657
         1164639655574196224 2019-08-23             93   0.373657
         1163965966323109889 2019-08-24             71   0.373657
         1164639655574196224 2019-08-24             71   0.373657
...                                                ...        ...
77       1399733841699520517 2021-06-07             69   0.453243
82       1417393591022936065 2021-07-21             31   0.396534
83       1417393591022936065 2021-07-26             77   0.516768
         1417876798998732810 2021-07-26             77   0.516768
84       1417876798998732810 2021-07-28             31   0.446378

                                               spike_starting_date  \
spike_id tweet_id            spike_window_date
0        1163965966323109889 2019-08-22                 2019-08-20
                             2019-08-23                 2019-08-20
         1164639655574196224 2019-08-23                 2019-08-20
         1163965966323109889 2019-08-24                 2019-08-20
         1164639655574196224 2019-08-24                 2019-08-20
...                                                            ...
77       1399733841699520517 2021-06-07                 2021-06-07
82       1417393591022936065 2021-07-21                 2021-07-20
83       1417393591022936065 2021-07-26                 2021-07-26
         1417876798998732810 2021-07-26                 2021-07-26
84       1417876798998732810 2021-07-28                 2021-07-28

                                               spike_ending_date
spike_id tweet_id            spike_window_date
0        1163965966323109889 2019-08-22               2019-08-25
                             2019-08-23               2019-08-25
         1164639655574196224 2019-08-23               2019-08-25
         1163965966323109889 2019-08-24               2019-08-25
         1164639655574196224 2019-08-24               2019-08-25
...                                                          ...
77       1399733841699520517 2021-06-07               2021-06-07
82       1417393591022936065 2021-07-21               2021-07-21
83       1417393591022936065 2021-07-26               2021-07-26
         1417876798998732810 2021-07-26               2021-07-26
84       1417876798998732810 2021-07-28               2021-07-28

[305 rows x 8 columns]

In [40]:
collapsed_merged_spikes_date_included_df.set_index(['spike_id', 'tweet_id', 'spike_window_date'], inplace=True, verify_integrity=True)
collapsed_merged_spikes_date_included_df

                                                index  tweet_date  \
spike_id tweet_id            spike_window_date
0        1163965966323109889 2019-08-21             1  2019-08-21
                             2019-08-22             2  2019-08-21
         1164639655574196224 2019-08-22             3  2019-08-22
         1163965966323109889 2019-08-23             4  2019-08-21
         1164639655574196224 2019-08-23             5  2019-08-22
...                                               ...         ...
82       1417393591022936065 2021-07-21           484  2021-07-20
         1417876798998732810 2021-07-21           485  2021-07-21
83       1417393591022936065 2021-07-26           486  2021-07-20
         1417876798998732810 2021-07-26           487  2021-07-21
84       1417876798998732810 2021-07-28           488  2021-07-21

                                                user_username     mIndex  \
spike_id tweet_id            spike_window_date
0        1163965966323109889 2019-08-21         MilanoFinanza  13.554951
                             2019-08-22         MilanoFinanza   5.825910
         1164639655574196224 2019-08-22            repubblica   5.825910
         1163965966323109889 2019-08-23         MilanoFinanza   2.485722
         1164639655574196224 2019-08-23            repubblica   2.485722
...                                                       ...        ...
82       1417393591022936065 2021-07-21            ilgiornale   0.525460
         1417876798998732810 2021-07-21           LegaSalvini   0.525460
83       1417393591022936065 2021-07-26            ilgiornale   2.897790
         1417876798998732810 2021-07-26           LegaSalvini   2.897790
84       1417876798998732810 2021-07-28           LegaSalvini   0.539660

                                                volume  sentiment  \
spike_id tweet_id            spike_window_date
0        1163965966323109889 2019-08-21            378   0.373657
                             2019-08-22            179   0.373657
         1164639655574196224 2019-08-22            179   0.373657
         1163965966323109889 2019-08-23             93   0.373657
         1164639655574196224 2019-08-23             93   0.373657
...                                                ...        ...
82       1417393591022936065 2021-07-21             31   0.396534
         1417876798998732810 2021-07-21             31   0.396534
83       1417393591022936065 2021-07-26             77   0.516768
         1417876798998732810 2021-07-26             77   0.516768
84       1417876798998732810 2021-07-28             31   0.446378

                                               spike_starting_date  \
spike_id tweet_id            spike_window_date
0        1163965966323109889 2019-08-21                 2019-08-20
                             2019-08-22                 2019-08-20
         1164639655574196224 2019-08-22                 2019-08-20
         1163965966323109889 2019-08-23                 2019-08-20
         1164639655574196224 2019-08-23                 2019-08-20
...                                                            ...
82       1417393591022936065 2021-07-21                 2021-07-20
         1417876798998732810 2021-07-21                 2021-07-20
83       1417393591022936065 2021-07-26                 2021-07-26
         1417876798998732810 2021-07-26                 2021-07-26
84       1417876798998732810 2021-07-28                 2021-07-28

                                               spike_ending_date
spike_id tweet_id            spike_window_date
0        1163965966323109889 2019-08-21               2019-08-25
                             2019-08-22               2019-08-25
         1164639655574196224 2019-08-22               2019-08-25
         1163965966323109889 2019-08-23               2019-08-25
         1164639655574196224 2019-08-23               2019-08-25
...                                                          ...
82       1417393591022936065 2021-07-21               2021-07-21
         1417876798998732810 2021-07-21               2021-07-21
83       1417393591022936065 2021-07-26               2021-07-26
         1417876798998732810 2021-07-26               2021-07-26
84       1417876798998732810 2021-07-28               2021-07-28

[445 rows x 8 columns]

In [41]:
collapsed_merged_spikes_df.to_csv('data/authority_filtered/collapsed_merged_spikes_df.csv')
collapsed_merged_spikes_date_included_df.to_csv('data/authority_filtered/collapsed_merged_spikes_date_included_df.csv')

In [42]:
auth_filtered_df.sort_values('date_index')

,Unnamed: 0,social,id,topic_id,rule_id,is_comment,text,links,mentions,hashtags,...,place_location_lat,place_location_lon,place_lat,place_lon,user_place_country_code,score_spam,score_performance,user_score_rank,score_rating,date_index
56,37400,twitter,1157355441531305984,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,"Veleno in buste inviate a Lavazza, Ferrero, Il...",https://t.co/jic2LqYWV6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-02
57,37247,twitter,1159017304333672448,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,#Kinder Merendero: una lettrice chiede l’orig...,"https://t.co/S9eROgogFr, https://t.co/ngu8qQCH3f",NaN,"#kinder, #latte, #ferrero, #kindermerendero, #...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-07
59,36920,twitter,1162025296825966592,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Il biografo Ferrero: “Napoleone corre ancora d...,"https://t.co/Rn42abkm1Q, https://t.co/aydRu3t8JE",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-15
58,36947,twitter,1161912740325273601,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Quelli che guadagnano 4 milioni ogni ora: le 2...,https://t.co/8YtXHE9vVh,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-15
60,36835,twitter,1163369496805031937,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Le nocciole turche sono l’oro di Erdogan e Fer...,https://t.co/wB2eZKgXFI,NaN,"#fattoquotidiano, #edicola, #19agosto",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,1013,twitter,1418810115445166080,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,"Ferrero, la strategia green del big di Alba (è...","https://t.co/r2XvO05KdN, https://t.co/t8k8vmUlQk",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-24
279,841,twitter,1420717382830415880,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Ferrero l'azienda meglio percepita sul territo...,"https://t.co/4O4c31bPiq, https://t.co/n8RpxZP5Vu",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-29
280,822,twitter,1421105542945202182,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,"L’attimo fuggente, online il numero di agosto ...",https://t.co/Q9FPElZrOU,"@ferrero_eu, @generali, @prada, @armani, @ciro...","#luigicremonini, #vincenzocremonini, #alberton...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-30
281,467,twitter,1426075939201421313,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,"Mediobanca, Gavio arrotonda la quota. I Ferrer...","https://t.co/QPX7deAYBt, https://t.co/XUfJMFKsFE",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-13
282,61,twitter,1430765728890859524,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Da anni le aziende alimentari prendono impegni...,"https://t.co/79pL8eW8Dm, https://t.co/3MC4xgol6A",@foodwatch_de,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-26

In [43]:
spike_auth_tweets = collapsed_merged_spikes_df.reset_index().convert_dtypes().merge(auth_filtered_df.convert_dtypes(), left_on='tweet_id', right_on='id')
spike_auth_tweets_date_included = collapsed_merged_spikes_date_included_df.reset_index().convert_dtypes().merge(auth_filtered_df.convert_dtypes(), left_on='tweet_id', right_on='id')

In [44]:
spike_auth_tweets

,spike_id,tweet_id,spike_window_date,index,tweet_date,user_username_x,mIndex,volume,sentiment,spike_starting_date,...,place_location_lat,place_location_lon,place_lat,place_lon,user_place_country_code,score_spam,score_performance,user_score_rank,score_rating,date_index
0,0,1163965966323109889,2019-08-22,2,2019-08-21,MilanoFinanza,5.82591,179,0.373657,2019-08-20,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2019-08-21
1,0,1163965966323109889,2019-08-23,3,2019-08-21,MilanoFinanza,2.485722,93,0.373657,2019-08-20,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2019-08-21
2,0,1163965966323109889,2019-08-24,5,2019-08-21,MilanoFinanza,1.006199,71,0.373657,2019-08-20,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2019-08-21
3,0,1163965966323109889,2019-08-25,8,2019-08-21,MilanoFinanza,0.657033,76,0.373657,2019-08-20,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2019-08-21
4,0,1164639655574196224,2019-08-23,4,2019-08-22,repubblica,2.485722,93,0.373657,2019-08-20,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2019-08-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,77,1399733841699520517,2021-06-07,368,2021-06-01,ItaliaaTavola,0.829249,69,0.453243,2021-06-07,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2021-06-01
301,82,1417393591022936065,2021-07-21,375,2021-07-20,ilgiornale,0.52546,31,0.396534,2021-07-20,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2021-07-20
302,83,1417393591022936065,2021-07-26,376,2021-07-20,ilgiornale,2.89779,77,0.516768,2021-07-26,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2021-07-20
303,83,1417876798998732810,2021-07-26,377,2021-07-21,LegaSalvini,2.89779,77,0.516768,2021-07-26,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2021-07-21
304,84,1417876798998732810,2021-07-28,378,2021-07-21,LegaSalvini,0.53966,31,0.446378,2021-07-28,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2021-07-21

In [45]:
spike_auth_tweets.drop_duplicates()
spike_auth_tweets.set_index(['spike_id', 'tweet_id'], inplace=True)

spike_auth_tweets_date_included.drop_duplicates()
spike_auth_tweets_date_included.set_index(['spike_id', 'tweet_id'], inplace=True)

In [46]:
spike_auth_tweets[['spike_starting_date', 'spike_window_date', 'text']]

                             spike_starting_date spike_window_date  \
spike_id tweet_id
0        1163965966323109889          2019-08-20        2019-08-22
         1163965966323109889          2019-08-20        2019-08-23
         1163965966323109889          2019-08-20        2019-08-24
         1163965966323109889          2019-08-20        2019-08-25
         1164639655574196224          2019-08-20        2019-08-23
...                                          ...               ...
77       1399733841699520517          2021-06-07        2021-06-07
82       1417393591022936065          2021-07-20        2021-07-21
83       1417393591022936065          2021-07-26        2021-07-26
         1417876798998732810          2021-07-26        2021-07-26
84       1417876798998732810          2021-07-28        2021-07-28

                                                                           text
spike_id tweet_id
0        1163965966323109889  Ferrero, per la holding nuove munizioni da 134...
         1163965966323109889  Ferrero, per la holding nuove munizioni da 134...
         1163965966323109889  Ferrero, per la holding nuove munizioni da 134...
         1163965966323109889  Ferrero, per la holding nuove munizioni da 134...
         1164639655574196224  Il 5S Barillari attacca la Nutella, Twitter no...
...                                                                         ...
77       1399733841699520517  Il Gruppo piemontese con la holding Cth ha fat...
82       1417393591022936065  Allievo di Lombroso, è stato tra i padri della...
83       1417393591022936065  Allievo di Lombroso, è stato tra i padri della...
         1417876798998732810  Roberta #Ferrero: Con il dl Sostegni bis andia...
84       1417876798998732810  Roberta #Ferrero: Con il dl Sostegni bis andia...

[305 rows x 3 columns]

In [47]:
spike_auth_tweets_date_included[['spike_starting_date', 'spike_window_date', 'text']]

                             spike_starting_date spike_window_date  \
spike_id tweet_id
0        1163965966323109889          2019-08-20        2019-08-21
         1163965966323109889          2019-08-20        2019-08-22
         1163965966323109889          2019-08-20        2019-08-23
         1163965966323109889          2019-08-20        2019-08-24
         1163965966323109889          2019-08-20        2019-08-25
...                                          ...               ...
82       1417393591022936065          2021-07-20        2021-07-21
83       1417393591022936065          2021-07-26        2021-07-26
82       1417876798998732810          2021-07-20        2021-07-21
83       1417876798998732810          2021-07-26        2021-07-26
84       1417876798998732810          2021-07-28        2021-07-28

                                                                           text
spike_id tweet_id
0        1163965966323109889  Ferrero, per la holding nuove munizioni da 134...
         1163965966323109889  Ferrero, per la holding nuove munizioni da 134...
         1163965966323109889  Ferrero, per la holding nuove munizioni da 134...
         1163965966323109889  Ferrero, per la holding nuove munizioni da 134...
         1163965966323109889  Ferrero, per la holding nuove munizioni da 134...
...                                                                         ...
82       1417393591022936065  Allievo di Lombroso, è stato tra i padri della...
83       1417393591022936065  Allievo di Lombroso, è stato tra i padri della...
82       1417876798998732810  Roberta #Ferrero: Con il dl Sostegni bis andia...
83       1417876798998732810  Roberta #Ferrero: Con il dl Sostegni bis andia...
84       1417876798998732810  Roberta #Ferrero: Con il dl Sostegni bis andia...

[445 rows x 3 columns]

Index:
spike_id: the id of the spike with authority contribution. Needed to match data with the dataframe containing all the spikes.
tweet_id: the id of the authority tweet. Needed to match it with the complete tweet dataframe.

Values:
spike_window_date: the spike day to which the tweet gets assigned the first time it gets paired with the spike.
spike_starting_date: the starting date associated to the spike_id. 
spike_ending_date: the ending date associated to the spike_id. 
tweet_date: the date when the tweet has been published.
text: the tweet textual content.

In [48]:
spike_auth_tweets[['spike_window_date', 'spike_starting_date', 'spike_ending_date', 'tweet_date', 'text']].drop_duplicates().sort_index().to_csv('data/authority_filtered/spike_auth_tweets.csv')
spike_auth_tweets_date_included[['spike_window_date', 'spike_starting_date', 'spike_ending_date', 'tweet_date', 'text']].drop_duplicates().sort_index().to_csv('data/authority_filtered/spike_auth_tweets_date_included.csv')

In [49]:
df_tmp = spike_auth_tweets[['spike_starting_date', 'spike_ending_date','tweet_date', 'text']].drop_duplicates()
df_tmp

                             spike_starting_date spike_ending_date  \
spike_id tweet_id
0        1163965966323109889          2019-08-20        2019-08-25
         1164639655574196224          2019-08-20        2019-08-25
         1164947272284672001          2019-08-20        2019-08-25
2        1174264995162599426          2019-09-18        2019-09-20
3        1174264995162599426          2019-09-22        2019-09-25
...                                          ...               ...
77       1399733841699520517          2021-06-07        2021-06-07
82       1417393591022936065          2021-07-20        2021-07-21
83       1417393591022936065          2021-07-26        2021-07-26
         1417876798998732810          2021-07-26        2021-07-26
84       1417876798998732810          2021-07-28        2021-07-28

                              tweet_date  \
spike_id tweet_id
0        1163965966323109889  2019-08-21
         1164639655574196224  2019-08-22
         1164947272284672001  2019-08-23
2        1174264995162599426  2019-09-18
3        1174264995162599426  2019-09-18
...                                  ...
77       1399733841699520517  2021-06-01
82       1417393591022936065  2021-07-20
83       1417393591022936065  2021-07-20
         1417876798998732810  2021-07-21
84       1417876798998732810  2021-07-21

                                                                           text
spike_id tweet_id
0        1163965966323109889  Ferrero, per la holding nuove munizioni da 134...
         1164639655574196224  Il 5S Barillari attacca la Nutella, Twitter no...
         1164947272284672001  Sampdoria, dopo un anno di tira e molla Ferrer...
2        1174264995162599426  Ferrero, premio di 2000 euro ai dipendenti nel...
3        1174264995162599426  Ferrero, premio di 2000 euro ai dipendenti nel...
...                                                                         ...
77       1399733841699520517  Il Gruppo piemontese con la holding Cth ha fat...
82       1417393591022936065  Allievo di Lombroso, è stato tra i padri della...
83       1417393591022936065  Allievo di Lombroso, è stato tra i padri della...
         1417876798998732810  Roberta #Ferrero: Con il dl Sostegni bis andia...
84       1417876798998732810  Roberta #Ferrero: Con il dl Sostegni bis andia...

[176 rows x 4 columns]

In [50]:
def get_tweets_in_date_range(df, 
                             date_series,
                             range_type, 
                             date_range=7, 
                             range_start=7,
                             range_end=7,
                             include_date=False):
    
    range_types = ['until', 'beyond', 'in_range']
    
    if range_type not in range_types:
        raise Exception('You must specify a date_range_type. The accepted values are [until, beyond, in_range]')
    
    output = []

    if(range_type==range_types[0]):
        for i, row in date_series.iterrows():
            temp_df = filter_by_previous_dates(df, row['spike_starting_date'], date_range, 'tweet_date', include_date)
            output.append(temp_df)
    elif(range_type==range_types[1]):
        for i, row in date_series.iterrows():
            temp_df = filter_by_following_dates(df, row['spike_starting_date'], date_range, 'tweet_date', include_date)
            output.append(temp_df)
    elif(range_type==range_types[2]):
        for i, row in date_series.iterrows():
            start_date = row['spike_starting_date'] - timedelta(days=range_start)
            end_date = row['spike_starting_date'] + timedelta(days=range_end)     
            start_date = row['spike_starting_date'] - timedelta(days=range_start)
            end_date = row['spike_starting_date'] + timedelta(days=range_end)
            temp_df = filter_by_date_range(df, start_date, end_date, 'tweet_date')
            output.append(temp_df)
    return pd.concat(output)

In [51]:
spikes_auth_tweets_before = get_tweets_in_date_range(df_tmp, df_tmp[['spike_starting_date']].drop_duplicates(),'until', 7).sort_index()

In [52]:
spikes_auth_tweets_before

                             spike_starting_date spike_ending_date  \
spike_id tweet_id
2        1174264995162599426          2019-09-18        2019-09-20
         1174293258714808321          2019-09-18        2019-09-20
         1174293756381519872          2019-09-18        2019-09-20
         1174318674058121218          2019-09-18        2019-09-20
         1174347893072809984          2019-09-18        2019-09-20
...                                          ...               ...
83       1417393591022936065          2021-07-26        2021-07-26
         1417876798998732810          2021-07-26        2021-07-26
         1417876798998732810          2021-07-26        2021-07-26
84       1417876798998732810          2021-07-28        2021-07-28
         1417876798998732810          2021-07-28        2021-07-28

                              tweet_date  \
spike_id tweet_id
2        1174264995162599426  2019-09-18
         1174293258714808321  2019-09-18
         1174293756381519872  2019-09-18
         1174318674058121218  2019-09-18
         1174347893072809984  2019-09-18
...                                  ...
83       1417393591022936065  2021-07-20
         1417876798998732810  2021-07-21
         1417876798998732810  2021-07-21
84       1417876798998732810  2021-07-21
         1417876798998732810  2021-07-21

                                                                           text
spike_id tweet_id
2        1174264995162599426  Ferrero, premio di 2000 euro ai dipendenti nel...
         1174293258714808321  Ferrero, via libera ai premi legati agli obiet...
         1174293756381519872  Ferrero, premio a tutti i dipendenti. In busta...
         1174318674058121218  Ferrero, 2mila euro come premio annuale a tutt...
         1174347893072809984  Centrati gli obiettivi alla Ferrero: oltre 2 m...
...                                                                         ...
83       1417393591022936065  Allievo di Lombroso, è stato tra i padri della...
         1417876798998732810  Roberta #Ferrero: Con il dl Sostegni bis andia...
         1417876798998732810  Roberta #Ferrero: Con il dl Sostegni bis andia...
84       1417876798998732810  Roberta #Ferrero: Con il dl Sostegni bis andia...
         1417876798998732810  Roberta #Ferrero: Con il dl Sostegni bis andia...

[159 rows x 4 columns]

In [53]:
spikes_auth_tweets_after = get_tweets_in_date_range(df_tmp, df_tmp[['spike_starting_date']].drop_duplicates(), 'beyond', 7).sort_index()

In [54]:
spikes_auth_tweets_after

                             spike_starting_date spike_ending_date  \
spike_id tweet_id
0        1163965966323109889          2019-08-20        2019-08-25
         1164639655574196224          2019-08-20        2019-08-25
         1164947272284672001          2019-08-20        2019-08-25
2        1174609247679778816          2019-09-18        2019-09-20
         1174618145786650624          2019-09-18        2019-09-20
...                                          ...               ...
72       1382427302752047109          2021-04-20        2021-04-21
         1382704030212886536          2021-04-20        2021-04-21
75       1396407064595927040          2021-05-20        2021-05-24
83       1417876798998732810          2021-07-26        2021-07-26
84       1417876798998732810          2021-07-28        2021-07-28

                              tweet_date  \
spike_id tweet_id
0        1163965966323109889  2019-08-21
         1164639655574196224  2019-08-22
         1164947272284672001  2019-08-23
2        1174609247679778816  2019-09-19
         1174618145786650624  2019-09-19
...                                  ...
72       1382427302752047109  2021-04-14
         1382704030212886536  2021-04-15
75       1396407064595927040  2021-05-23
83       1417876798998732810  2021-07-21
84       1417876798998732810  2021-07-21

                                                                           text
spike_id tweet_id
0        1163965966323109889  Ferrero, per la holding nuove munizioni da 134...
         1164639655574196224  Il 5S Barillari attacca la Nutella, Twitter no...
         1164947272284672001  Sampdoria, dopo un anno di tira e molla Ferrer...
2        1174609247679778816  2.200 euro in più sullo stipendio. La vostra a...
         1174618145786650624  La Ferrero riconosce a 6000 dipendenti un prem...
...                                                                         ...
72       1382427302752047109  "Ambrogio ho un leggero languorino, la mia non...
         1382704030212886536  Commissario Figliuolo al centro vaccinale in F...
75       1396407064595927040  Qualcuno si chiede: "ma i diciottenni sono tan...
83       1417876798998732810  Roberta #Ferrero: Con il dl Sostegni bis andia...
84       1417876798998732810  Roberta #Ferrero: Con il dl Sostegni bis andia...

[133 rows x 4 columns]

In [55]:
spikes_auth_tweets_range = get_tweets_in_date_range(df_tmp, df_tmp[['spike_starting_date']].drop_duplicates(),'in_range', range_start=1, range_end=1,).sort_index()

In [56]:
spikes_auth_tweets_range

                             spike_starting_date spike_ending_date  \
spike_id tweet_id
0        1163965966323109889          2019-08-20        2019-08-25
2        1174264995162599426          2019-09-18        2019-09-20
         1174293258714808321          2019-09-18        2019-09-20
         1174293756381519872          2019-09-18        2019-09-20
         1174318674058121218          2019-09-18        2019-09-20
...                                          ...               ...
73       1389296628213878787          2021-05-03        2021-05-04
82       1417393591022936065          2021-07-20        2021-07-21
83       1417393591022936065          2021-07-26        2021-07-26
         1417876798998732810          2021-07-26        2021-07-26
84       1417876798998732810          2021-07-28        2021-07-28

                              tweet_date  \
spike_id tweet_id
0        1163965966323109889  2019-08-21
2        1174264995162599426  2019-09-18
         1174293258714808321  2019-09-18
         1174293756381519872  2019-09-18
         1174318674058121218  2019-09-18
...                                  ...
73       1389296628213878787  2021-05-03
82       1417393591022936065  2021-07-20
83       1417393591022936065  2021-07-20
         1417876798998732810  2021-07-21
84       1417876798998732810  2021-07-21

                                                                           text
spike_id tweet_id
0        1163965966323109889  Ferrero, per la holding nuove munizioni da 134...
2        1174264995162599426  Ferrero, premio di 2000 euro ai dipendenti nel...
         1174293258714808321  Ferrero, via libera ai premi legati agli obiet...
         1174293756381519872  Ferrero, premio a tutti i dipendenti. In busta...
         1174318674058121218  Ferrero, 2mila euro come premio annuale a tutt...
...                                                                         ...
73       1389296628213878787  Napoleone, il romanzo di Ferrero in edicola co...
82       1417393591022936065  Allievo di Lombroso, è stato tra i padri della...
83       1417393591022936065  Allievo di Lombroso, è stato tra i padri della...
         1417876798998732810  Roberta #Ferrero: Con il dl Sostegni bis andia...
84       1417876798998732810  Roberta #Ferrero: Con il dl Sostegni bis andia...

[135 rows x 4 columns]

In [57]:
spikes_auth_tweets_before.to_csv('data/authority_filtered/spikes_auth_tweets_before.csv')

In [58]:
# Adds a new column counting the length of each spike in days to the input dataframe
def get_spikes_days_length(df, id_col='spike_id', start_date_col='spike_starting_date', end_date_col='spike_ending_date'):
    output = df.copy()
    days_deltas = []
    for i, row in output.iterrows():
        days_delta = ((row[end_date_col] - row[start_date_col]) + timedelta(days=1))
        days_deltas.append(days_delta.days)
    output['spike_length'] = days_deltas
    return output

In [59]:
df_temp = (spikes_auth_tweets_before.reset_index().drop_duplicates(['spike_id']).reset_index()[['spike_starting_date', 'spike_ending_date']])

In [60]:
all_spike_window_dates_df = merged_spikes_date_included_df[['spike_id', 'spike_window_date']].drop_duplicates().reset_index().sort_values('spike_id')

In [61]:
all_spike_window_dates_df

     index  spike_id spike_window_date
0        0         0        2019-08-20
1        1         1        2019-08-21
2        2         2        2019-08-22
3        4         3        2019-08-23
4        7         4        2019-08-24
..     ...       ...               ...
160    491       160        2021-08-19
161    492       161        2021-08-20
162    493       162        2021-08-23
163    494       163        2021-08-24
164    495       164        2021-08-25

[165 rows x 3 columns]

In [62]:
all_spike_dates_df = collapse_consecutive_spike_days(all_spike_window_dates_df)

There are not next lines in the DataFrame

C:\Users\alxau\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [63]:
all_spike_dates_df

     index  spike_id spike_window_date spike_starting_date spike_ending_date
0        0         0        2019-08-20          2019-08-20        2019-08-25
1        1         0        2019-08-21          2019-08-20        2019-08-25
2        2         0        2019-08-22          2019-08-20        2019-08-25
3        4         0        2019-08-23          2019-08-20        2019-08-25
4        7         0        2019-08-24          2019-08-20        2019-08-25
..     ...       ...               ...                 ...               ...
160    491        86        2021-08-19          2021-08-19        2021-08-20
161    492        86        2021-08-20          2021-08-19        2021-08-20
162    493        87        2021-08-23          2021-08-23        2021-08-25
163    494        87        2021-08-24          2021-08-23        2021-08-25
164    495        87        2021-08-25          2021-08-23        2021-08-25

[165 rows x 5 columns]

In [64]:
all_spike_dates_df = all_spike_dates_df[['spike_id', 'spike_starting_date', 'spike_ending_date']].drop_duplicates().reset_index().drop(columns=['index']).sort_values('spike_ending_date')
print(all_spike_dates_df)

    spike_id spike_starting_date spike_ending_date
0          0          2019-08-20        2019-08-25
1          1          2019-09-15        2019-09-15
2          2          2019-09-18        2019-09-20
3          3          2019-09-22        2019-09-25
4          4          2019-10-07        2019-10-10
..       ...                 ...               ...
83        83          2021-07-26        2021-07-26
84        84          2021-07-28        2021-07-28
85        85          2021-08-04        2021-08-05
86        86          2021-08-19        2021-08-20
87        87          2021-08-23        2021-08-25

[88 rows x 3 columns]

In [71]:
all_spikes_days_length_df = get_spikes_days_length(spikes_auth_tweets_before.reset_index())
all_spikes_days_length_df.drop_duplicates(inplace=True)
all_spikes_days_length_df

,spike_id,tweet_id,spike_starting_date,spike_ending_date,tweet_date,text,spike_length
0,2,1174264995162599426,2019-09-18,2019-09-20,2019-09-18,"Ferrero, premio di 2000 euro ai dipendenti nel...",3
1,2,1174293258714808321,2019-09-18,2019-09-20,2019-09-18,"Ferrero, via libera ai premi legati agli obiet...",3
2,2,1174293756381519872,2019-09-18,2019-09-20,2019-09-18,"Ferrero, premio a tutti i dipendenti. In busta...",3
3,2,1174318674058121218,2019-09-18,2019-09-20,2019-09-18,"Ferrero, 2mila euro come premio annuale a tutt...",3
4,2,1174347893072809984,2019-09-18,2019-09-20,2019-09-18,Centrati gli obiettivi alla Ferrero: oltre 2 m...,3
...,...,...,...,...,...,...,...
152,77,1399733841699520517,2021-06-07,2021-06-07,2021-06-01,Il Gruppo piemontese con la holding Cth ha fat...,1
153,82,1417393591022936065,2021-07-20,2021-07-21,2021-07-20,"Allievo di Lombroso, è stato tra i padri della...",2
154,83,1417393591022936065,2021-07-26,2021-07-26,2021-07-20,"Allievo di Lombroso, è stato tra i padri della...",1
155,83,1417876798998732810,2021-07-26,2021-07-26,2021-07-21,Roberta #Ferrero: Con il dl Sostegni bis andia...,1
157,84,1417876798998732810,2021-07-28,2021-07-28,2021-07-21,Roberta #Ferrero: Con il dl Sostegni bis andia...,1

In [72]:
random_col = np.random.randint(0, 2, len(all_spikes_days_length_df))
all_spikes_days_length_df['is_relevant'] = random_col

In [73]:
all_spikes_days_length_df

,spike_id,tweet_id,spike_starting_date,spike_ending_date,tweet_date,text,spike_length,is_relevant
0,2,1174264995162599426,2019-09-18,2019-09-20,2019-09-18,"Ferrero, premio di 2000 euro ai dipendenti nel...",3,0
1,2,1174293258714808321,2019-09-18,2019-09-20,2019-09-18,"Ferrero, via libera ai premi legati agli obiet...",3,1
2,2,1174293756381519872,2019-09-18,2019-09-20,2019-09-18,"Ferrero, premio a tutti i dipendenti. In busta...",3,1
3,2,1174318674058121218,2019-09-18,2019-09-20,2019-09-18,"Ferrero, 2mila euro come premio annuale a tutt...",3,0
4,2,1174347893072809984,2019-09-18,2019-09-20,2019-09-18,Centrati gli obiettivi alla Ferrero: oltre 2 m...,3,0
...,...,...,...,...,...,...,...,...
152,77,1399733841699520517,2021-06-07,2021-06-07,2021-06-01,Il Gruppo piemontese con la holding Cth ha fat...,1,0
153,82,1417393591022936065,2021-07-20,2021-07-21,2021-07-20,"Allievo di Lombroso, è stato tra i padri della...",2,1
154,83,1417393591022936065,2021-07-26,2021-07-26,2021-07-20,"Allievo di Lombroso, è stato tra i padri della...",1,0
155,83,1417876798998732810,2021-07-26,2021-07-26,2021-07-21,Roberta #Ferrero: Con il dl Sostegni bis andia...,1,0
157,84,1417876798998732810,2021-07-28,2021-07-28,2021-07-21,Roberta #Ferrero: Con il dl Sostegni bis andia...,1,0

In [74]:
auth_tweets_before_df = all_spikes_days_length_df.merge(auth_filtered_df[['id', 'user_username']], left_on='tweet_id', right_on='id')
# all_spikes_days_length_df = all_spikes_days_length_df.drop('id')
all_spikes_days_length_df

,spike_id,tweet_id,spike_starting_date,spike_ending_date,tweet_date,text,spike_length,is_relevant
0,2,1174264995162599426,2019-09-18,2019-09-20,2019-09-18,"Ferrero, premio di 2000 euro ai dipendenti nel...",3,0
1,2,1174293258714808321,2019-09-18,2019-09-20,2019-09-18,"Ferrero, via libera ai premi legati agli obiet...",3,1
2,2,1174293756381519872,2019-09-18,2019-09-20,2019-09-18,"Ferrero, premio a tutti i dipendenti. In busta...",3,1
3,2,1174318674058121218,2019-09-18,2019-09-20,2019-09-18,"Ferrero, 2mila euro come premio annuale a tutt...",3,0
4,2,1174347893072809984,2019-09-18,2019-09-20,2019-09-18,Centrati gli obiettivi alla Ferrero: oltre 2 m...,3,0
...,...,...,...,...,...,...,...,...
152,77,1399733841699520517,2021-06-07,2021-06-07,2021-06-01,Il Gruppo piemontese con la holding Cth ha fat...,1,0
153,82,1417393591022936065,2021-07-20,2021-07-21,2021-07-20,"Allievo di Lombroso, è stato tra i padri della...",2,1
154,83,1417393591022936065,2021-07-26,2021-07-26,2021-07-20,"Allievo di Lombroso, è stato tra i padri della...",1,0
155,83,1417876798998732810,2021-07-26,2021-07-26,2021-07-21,Roberta #Ferrero: Con il dl Sostegni bis andia...,1,0
157,84,1417876798998732810,2021-07-28,2021-07-28,2021-07-21,Roberta #Ferrero: Con il dl Sostegni bis andia...,1,0

In [75]:
relevant_auths = auth_filtered_df['user_username'].drop_duplicates()
relevant_auths

0        GiorgiaMeloni
1        GuidoCrosetto
4          LegaSalvini
5         ElioLannutti
6      matteosalvinimi
8          NFratoianni
16     TeresaBellanova
34      borghi_claudio
39     stanzaselvaggia
41      petergomezblog
42        FranFerrante
43            gonufrio
45      ap_legambiente
46     FurlanAnnamaria
47            fai_cisl
51             fiomnet
52        LuciaCuffaro
53        LucaBizzarri
54         QRepubblica
55               ADUC1
56      ilmessaggeroit
57     FattoAlimentare
58            Corriere
59      SecolodItalia1
60     fattoquotidiano
61       MilanoFinanza
62          repubblica
64            LaStampa
68       Affaritaliani
71        VanityFairIt
73          Gazzettino
74          greenMe_it
82        Agenzia_Ansa
83              GDS_it
91           Linkiesta
100     giornalettismo
103     ilSalvagenteit
105       lamescolanza
116    alimentandonews
127      ItaliaaTavola
156        wireditalia
197     Agenzia_Italia
220         ilgiornale
265      rinnovabiliit
267      Qualenergiait
Name: user_username, dtype: object

In [138]:
def get_coherency_index(df, auth_list):
    output = []
    tmp = df.copy()
    tmp['count'] = 1
    df_sum = tmp.groupby(pd.Grouper('user_username')).sum()
    print(df_sum)
    df_count = tmp.groupby(pd.Grouper('user_username')).count()
    print(df_count)
    output.append(df_sum/df_count)
    output = pd.concat(output).reset_index()
    return output[['user_username', 'is_relevant']]

In [139]:
get_coherency_index(auth_tweets_before_df, relevant_auths)

                 spike_id      tweet_id  spike_length  is_relevant  \
user_username
Corriere            655.0  1.950579e+19          39.0            8
MilanoFinanza       375.0  1.048187e+19          17.0            5
Affaritaliani       700.0  2.200762e+19          36.0            8
fattoquotidiano     257.0  7.779937e+18          16.0            3
repubblica          706.0  2.202297e+19          36.0            9
VanityFairIt         16.0  4.723819e+18          10.0            1
GiorgiaMeloni         5.0  2.349236e+18           7.0            1
Gazzettino           11.0  2.374747e+18           3.0            1
Agenzia_Ansa        249.0  7.768618e+18          10.0            4
GDS_it                6.0  1.187680e+18           1.0            1
ilmessaggeroit        7.0  1.189249e+18           1.0            0
giornalettismo       21.0  2.399264e+18           2.0            1
SecolodItalia1       21.0  2.399434e+18           2.0            1
ilSalvagenteit      154.0  7.471689e+18          12.0            3
stanzaselvaggia      23.0  2.401546e+18           5.0            0
LaStampa            365.0  1.163910e+19          17.0            4
ElioLannutti         37.0  2.449263e+18           5.0            1
ItaliaaTavola       400.0  9.378381e+18          16.0            5
greenMe_it           95.0  4.962548e+18           6.0            2
QRepubblica          20.0  1.226980e+18           1.0            1
lamescolanza        122.0  3.884546e+18           6.0            2
LegaSalvini         413.0  1.062157e+19          11.0            4
GuidoCrosetto        81.0  2.582208e+18           6.0            1
Agenzia_Italia       47.0  1.314259e+18           1.0            1
FattoAlimentare      61.0  1.357606e+18           4.0            1
ilgiornale          308.0  5.599642e+18           8.0            2

                           id  count
user_username
Corriere         1.950579e+19   15.0
MilanoFinanza    1.048187e+19    8.0
Affaritaliani    2.200762e+19   17.0
fattoquotidiano  7.779937e+18    6.0
repubblica       2.202297e+19   17.0
VanityFairIt     4.723819e+18    4.0
GiorgiaMeloni    2.349236e+18    2.0
Gazzettino       2.374747e+18    2.0
Agenzia_Ansa     7.768618e+18    6.0
GDS_it           1.187680e+18    1.0
ilmessaggeroit   1.189249e+18    1.0
giornalettismo   2.399264e+18    2.0
SecolodItalia1   2.399434e+18    2.0
ilSalvagenteit   7.471689e+18    6.0
stanzaselvaggia  2.401546e+18    2.0
LaStampa         1.163910e+19    9.0
ElioLannutti     2.449263e+18    2.0
ItaliaaTavola    9.378381e+18    7.0
greenMe_it       4.962548e+18    4.0
QRepubblica      1.226980e+18    1.0
lamescolanza     3.884546e+18    3.0
LegaSalvini      1.062157e+19    8.0
GuidoCrosetto    2.582208e+18    2.0
Agenzia_Italia   1.314259e+18    1.0
FattoAlimentare  1.357606e+18    1.0
ilgiornale       5.599642e+18    4.0
                 spike_id  tweet_id  spike_starting_date  spike_ending_date  \
user_username
Corriere               15        15                   15                 15
MilanoFinanza           8         8                    8                  8
Affaritaliani          17        17                   17                 17
fattoquotidiano         6         6                    6                  6
repubblica             17        17                   17                 17
VanityFairIt            4         4                    4                  4
GiorgiaMeloni           2         2                    2                  2
Gazzettino              2         2                    2                  2
Agenzia_Ansa            6         6                    6                  6
GDS_it                  1         1                    1                  1
ilmessaggeroit          1         1                    1                  1
giornalettismo          2         2                    2                  2
SecolodItalia1          2         2                    2                  2
ilSalvagenteit          6         6                    6                  6
stanzaselvaggia         2         2                    2                  2
LaStampa                9         9                    9                  9
ElioLannutti            2         2                    2                  2
ItaliaaTavola           7         7                    7                  7
greenMe_it              4         4                    4                  4
QRepubblica             1         1                    1                  1
lamescolanza            3         3                    3                  3
LegaSalvini             8         8                    8                  8
GuidoCrosetto           2         2                    2                  2
Agenzia_Italia          1         1                    1                  1
FattoAlimentare         1         1                    1                  1
ilgiornale              4         4                    4                  4

                 tweet_date  text  spike_length  is_relevant  id  count
user_username
Corriere                 15    15            15           15  15     15
MilanoFinanza             8     8             8            8   8      8
Affaritaliani            17    17            17           17  17     17
fattoquotidiano           6     6             6            6   6      6
repubblica               17    17            17           17  17     17
VanityFairIt              4     4             4            4   4      4
GiorgiaMeloni             2     2             2            2   2      2
Gazzettino                2     2             2            2   2      2
Agenzia_Ansa              6     6             6            6   6      6
GDS_it                    1     1             1            1   1      1
ilmessaggeroit            1     1             1            1   1      1
giornalettismo            2     2             2            2   2      2
SecolodItalia1            2     2             2            2   2      2
ilSalvagenteit            6     6             6            6   6      6
stanzaselvaggia           2     2             2            2   2      2
LaStampa                  9     9             9            9   9      9
ElioLannutti              2     2             2            2   2      2
ItaliaaTavola             7     7             7            7   7      7
greenMe_it                4     4             4            4   4      4
QRepubblica               1     1             1            1   1      1
lamescolanza              3     3             3            3   3      3
LegaSalvini               8     8             8            8   8      8
GuidoCrosetto             2     2             2            2   2      2
Agenzia_Italia            1     1             1            1   1      1
FattoAlimentare           1     1             1            1   1      1
ilgiornale                4     4             4            4   4      4

      user_username  is_relevant
0          Corriere     0.533333
1     MilanoFinanza     0.625000
2     Affaritaliani     0.470588
3   fattoquotidiano     0.500000
4        repubblica     0.529412
5      VanityFairIt     0.250000
6     GiorgiaMeloni     0.500000
7        Gazzettino     0.500000
8      Agenzia_Ansa     0.666667
9            GDS_it     1.000000
10   ilmessaggeroit     0.000000
11   giornalettismo     0.500000
12   SecolodItalia1     0.500000
13   ilSalvagenteit     0.500000
14  stanzaselvaggia     0.000000
15         LaStampa     0.444444
16     ElioLannutti     0.500000
17    ItaliaaTavola     0.714286
18       greenMe_it     0.500000
19      QRepubblica     1.000000
20     lamescolanza     0.666667
21      LegaSalvini     0.500000
22    GuidoCrosetto     0.500000
23   Agenzia_Italia     1.000000
24  FattoAlimentare     1.000000
25       ilgiornale     0.500000